<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>QRCode</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <div id="qrcode" style="margin:0 auto;float:none"></div>
            </div>
            <div class="col-md-4">
              <h2 style="font-size:17px">Scan QRCode using <i>Dockerboard</i> app</h2><br/>
              <a href="#/"><img class="img-responsive img-center" style="margin:0 auto" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" width="40%"></a>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Android app</h5>
        </div>
        <div class="ibox-content">
          <div class="lightBoxGallery">
            <a ng-repeat="image in images" ng-click="openLightboxModal($index)">
              <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
