<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Container Infos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/containers">Containers</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-3">
      <div class="{{state.color}}">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="{{state.icon}}"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> State </span>
            <h2 class="font-bold">{{state.name}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
