<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List of containers</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Image</th>
              <th>Created at</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="container in containers">
              <td><a class="btn btn-info btn-xs" href="#/container/{{container.Id}}"><i class="fa fa-info-circle"></i> View</a></td>
              <td>{{container.Name}}</td>
              <td>{{container.Image}}</td>
              <td>{{container.Created}}</td>
              <td><span class="btn btn-primary btn-xs">{{container.Status}}<span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Visualizer</h5>
      </div>
      <div class="ibox-content">
        <div id="canvas" style="width:100%;height:100%">
      </div>
    </div>
  </div>
</div>
