<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Container Infos</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#/containers">Containers</a>
      </li>
      <li class="active">
        <strong>{{name}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-4">
                <div class="widget red-bg">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <i class="fa fa-th-large fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Image name </span>
                                <h2 class="font-bold" style="font-size:12px">{{image}}</h2>
                            </div>
                        </div>
                </div>
            </div>

    <div class="col-lg-3">
      <div class="{{state.color}}">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="{{state.icon}}"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> State </span>
            <h2 class="font-bold">{{state.name}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="widget lazur-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-file-text fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Logs </span>
            <a href="#/logfile/1" style="color:#FFF"><h2 class="font-bold">View</h2></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          Environnement variables
        </div>
        <div class="ibox-content">
          <table class="table table-sm" style="font-size:12px">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="env in envs">
                <td>{{env.name}}</td>
                <td>{{env.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    </div>
    <div class="col-lg-3">
      <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          Active ports
        </div>
        <div class="ibox-content">
          <ul class="list-unstyled file-list">
            <div ng-repeat="port in ports">
              <li ng-repeat="host in port.hostPorts">
                <a href=":{{host}}" target="_blank"><i class="fa fa-link"></i> {{port.homePort}}: {{host}}</a>
              </li>
            </div>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          Exposed ports
        </div>
        <div class="ibox-content">
          <ul class="list-unstyled file-list">
            <li ng-repeat="(port,data) in exposedPorts">
              <i class="fa fa-link"></i> {{port}}
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          Volumes
        </div>
        <div class="ibox-content">
          <ul class="list-unstyled file-list">
            <li ng-repeat="(volume,data) in volumes">
              <i class="fa fa-hdd-o"></i> {{volume}}
            </li>
          </ul>
        </div>
      </div>

    </div>
    </div>
</div>
