<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Create a service</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group col-md-6">
              <label>Image</label>
            </div>
            <div class="form-group col-md-6">
              <label>Tag</label>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" ng-model="service.image"/>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" ng-model="service.tag"/>
            </div>

            <div class="form-group col-md-12">
              <label>Ports</label>
            </div>

            <div class="form-group col-md-4">
              <input type="number" class="form-control" ng-model="portA"/>
            </div>
            <div class="form-group col-md-4">
              <input type="number" class="form-control" ng-model="portB"/>
            </div>
            <div class="col-md-4">
              <a class="btn btn-primary btn-block" ng-click="newPort()"><i class="fa fa-plus-circle"></i> New</a>
            </div>

            <div class="form-group col-md-12">
              <div class="row" ng-repeat="p in ports track by $index">
                <div class="form-group col-md-4">
                  <input type="number" class="form-control" ng-model="p.portA"/>
                </div>
                <div class="form-group col-md-4">
                  <input type="number" class="form-control" ng-model="p.portB"/>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-danger btn-block" ng-click="deletePort($index)"><i class="fa fa-trash"></i> Delete</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Environnement variables</label>
            </div>

            <div class="form-group col-md-4">
              <input type="text" class="form-control" ng-model="envA"/>
            </div>
            <div class="form-group col-md-4">
              <input type="text" class="form-control" ng-model="envB"/>
            </div>
            <div class="col-md-4">
              <a class="btn btn-primary btn-block" ng-click="newEnv()"><i class="fa fa-plus-circle"></i> New</a>
            </div>

            <div class="form-group col-md-12">
              <div class="row" ng-repeat="e in envs track by $index">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" ng-model="e.envA"/>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" ng-model="e.envB"/>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-danger btn-block" ng-click="deleteEnv($index)"><i class="fa fa-trash"></i> Delete</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <a class="btn btn-primary btn-block" ng-click="createService()"><i class="fa fa-check-circle"></i> Create</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group col-md-12">
              <label>Container name</label>
            </div>
            <div class="form-group col-md-12">
              <input type="text" class="form-control" ng-model="service.container"/>
            </div>
            <div class="form-group col-md-12">
              <label>Volumes</label>
            </div>

            <div class="form-group col-md-4">
              <input type="text" class="form-control" ng-model="volumeA" ng-valid/>
            </div>
            <div class="form-group col-md-4">
              <input type="text" class="form-control" ng-model="volumeB" ng-valid/>
            </div>
            <div class="col-md-4">
              <a class="btn btn-primary btn-block" ng-click="newVolume()"><i class="fa fa-plus-circle"></i> New</a>
            </div>

            <div class="form-group col-md-12">
              <div class="row" ng-repeat="v in volumes track by $index">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" ng-model="v.volumeA" ng-valid/>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" ng-model="v.volumeB" ng-valid/>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-danger btn-block" ng-click="deleteVolume($index)"><i class="fa fa-trash"></i> Delete</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Links</label>
            </div>

            <div class="form-group col-md-12">
              <select ng-model="service.links" class="selectpicker" data-width="100%" multiple>
                     <option>Mustard</option>
                     <option>Ketchup</option>
                     <option>Relish</option>
                 </select>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Services</h5>
      </div>
      <div class="ibox-content">
        <ul class="list-unstyled file-list">
          <li ng-repeat="service in services">
            <i class="fa fa-hdd-o"></i> {{service.container}}
            <div class="pull-right">
              <a style="color:#FFF" ng-click="newRegistry()" class="label label-info"><i class="fa fa-plus-circle"></i> Edit</a>
              <a style="color:#FFF" ng-click="newRegistry()" class="label label-danger"><i class="fa fa-plus-circle"></i> Delete</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Docker-compose File</h5>
        <a ngclipboard data-clipboard-target="#code" class="label label-info pull-right"><i class="fa fa-clipboard"></i> Copy</a>
      </div>
      <div class="ibox-content">
        <div class="alert alert-danger" ng-show="!yml">
          Empty file
        </div>
        <textarea ng-show="yml" id="code" class="form-control" disabled textarea-fit>{{yml}}</textarea>
      </div>
    </div>
  </div>
</div>
