<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List of images</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="form-group col-sm-3 m-b-xs">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-text-color"></i></span>
              <input type="text" class="form-control input-sm" ng-model="keyword.name"/>
            </div>
          </div>
          <div class="form-group col-sm-3 m-b-xs">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-tag"></i></span>
              <input type="text" class="form-control input-sm" ng-model="keyword.tag"/>
            </div>
          </div>
          <div class="form-group col-sm-3 m-b-xs">
            <div class="input-group">
                 <span class="input-group-addon" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="text" ng-model="keyword.date" uib-datepicker-popup="MM/dd/yyyy" class="form-control input-sm" ng-model="dt" is-open="popup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            </div>
          </div>
          <div class="form-group col-sm-3 m-b-xs">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-floppy-disk"></i></span>
              <input type="number" ng-model="keyword.size" class="form-control input-sm"/>
            </div>
          </div>
        </div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Tag</th>
              <th>Created</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="image in images| filter:{Name: keyword.name, Tag: keyword.tag, VirtualSize: keyword.size, Created: keyword.date}">
              <td>{{image.Name}}</td>
              <td>{{image.Tag}}</td>
              <td>{{image.Created}}</td>
              <td>
                <div ng-show="image.VirtualSize > 500">
                  <span class="btn btn-danger btn-xs">{{image.VirtualSize | number:1}} Mb</span>
                </div>
                <div ng-show="image.VirtualSize > 250 && image.VirtualSize <= 500">
                  <span class="btn btn-warning btn-xs">{{image.VirtualSize | number:1}} Mb</span>
                </div>
                <div ng-show="image.VirtualSize <= 250">
                  <span class="btn btn-primary btn-xs">{{image.VirtualSize | number:1}} Mb</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
