<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Container logs</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#/containers">Containers</a>
      </li>
      <li>
        <a href="#/containers">Containers</a>
      </li>
      <li class="active">
        <strong>{{name}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          Logs
        </div>
        <div class="ibox-content">
          <ul class="list-unstyled file-list">
            <li ng-repeat="line in logs track by $index">
              {{line}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
