<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-play fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Running containers </span>
            <h2 class="font-bold">{{info.running}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-stop fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Exited containers </span>
            <h2 class="font-bold">14</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-picture-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Images </span>
            <h2 class="font-bold">{{info.images}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
